<html>
    <head>
        <style>
            p{
                font-size: 30px;
                font-style: italic;
                color: #abcdef;



            }
        </style>
    </head>

    <body>
        {% include "index.html" %}
        {% block head %}
        {% endblock %}
        <form method="post" action="#">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="Submit" value="Login">
            <a href="/users/singup">Not registered</a>

        </form>
        



    </body>
</html>